.movie-container {
    background: rgb(237, 235, 231); 
   width: 400px;
   border-radius: 16px;
   overflow: hidden;
   padding: 16px;
 }
 
 .movie-poster {
   height: 450px;
   object-fit: cover;
   width: 100%;
 
    border-radius: 17px; 
 }
 .movie-spec {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 
 /* Child selector - combinators */
 .movie-spec > p {
   font-size: 22px;
   font-weight: bold;
 }
 
 .movie-summary {
   margin-top: 0px;
   color: #7c6e6e;
 }
// [
//     {
//     "id": "99",
//     "name": "Egg",
//     "poster": "https://th.bing.com/th/id/OIP.fC952e0xE40mxYi7VU-7ZAHaFj?w=233&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7",
//     "protein": 8.4,
//     "carb": 4,
//     "fat": 5,
//     "summary": "Low Carb • Sugar Conscious • Low Potassium • Kidney Friendly • Keto Friendly • Peanut Free • Tree Nut Free • Soy Free • Fish Free • Shellfish Free • Crustacean Free • Celery Free • Mustard Free • Sesame Free • Lupine Free • Mollusk Free • Alcohol Free"
    
//    },
//   {
//     "id": "100",
//     "name": "Egg Pasta",
//     "poster": "https://th.bing.com/th/id/OIP.fC952e0xE40mxYi7VU-7ZAHaFj?w=233&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7",
//     "protein": 8.4,
//     "carb": 4,
//     "fat": 5,
//     "summary": "Low Carb • Sugar Conscious • Low Potassium • Kidney Friendly • Keto Friendly • Peanut Free • Tree Nut Free • Soy Free • Fish Free • Shellfish Free • Crustacean Free • Celery Free • Mustard Free • Sesame Free • Lupine Free • Mollusk Free • Alcohol Free"
//    }]