<div class="recipe-container">
  <img class="recipe-poster" [src]="recipe.imglink" [alt]="recipe.name" />
  <div class="recipe-spec">
    <h2>{{ recipe.name | uppercase }}</h2>
    <!-- <p>⭐ {{ recipe.instructions }}</p> -->
  </div>
  <div class="recipe-spec">
    <button mat-raised-button type="button" (click)="details(recipe.id)">
      Details
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      [disabled]="fav"
      (click)="addToFav(recipe)"
    >
      <mat-icon>favorite</mat-icon>Favorite
    </button>
    <button mat-raised-button type="button" (click)="edit(recipe.id)">
      Edit
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="deleteRecipe(recipe.id)"
    >
      <mat-icon>delete</mat-icon>Delete
    </button>
  </div>
</div>
