.example-form {
    // min-width: 150px;
    // max-width: 500px;
    
    margin: 0 auto; 
width:100%;
height: 100%;


padding: 10px;
// background-color:rgb(197, 238, 187);
    
    
  
   
  }
  
  .example-full-width {
    width: 50%;
  }
  
  