<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1 style="margin: 0 auto">Favorites</h1>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div *ngIf="allLength == 0" style="text-align: center">
  <span style="color: rgb(15, 26, 185); font-weight: bold; font-size: larger"
    >Favorites Empty..!</span
  >
</div>

<div class="allRec">
  <div *ngFor="let reciepe of all">
    <div class="recipe-container">
      <img class="recipe-poster" [src]="reciepe.imglink" [alt]="reciepe.name" />
      <div class="recipe-spec">
        <h2>{{ reciepe.name | uppercase }}</h2>
        <!-- <p>⭐ {{ recipe.instructions }}</p> -->
      </div>
      <div class="recipe-spec">
        <button mat-raised-button type="button" (click)="details(reciepe.id)">
          Details
        </button>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="deleteFromFav(reciepe)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
