<!-- <p>reciepe-details works!{{ recipe }}</p> -->
<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1 style="margin: 0 auto">{{ recipe?.name | uppercase }}</h1>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div style="background-color: rgb(219, 227, 234)">
  <div style="text-align: center">
    <img class="recipe-poster" [src]="recipe?.imglink" />
  </div>
  <div class="buttons-spec">
    <button
      mat-raised-button
      color="primary"
      type="button"
      [disabled]="fav"
      (click)="addToFav(recipe)"
    >
      <mat-icon>favorite</mat-icon>Favorite
    </button>
    <button mat-raised-button type="button" (click)="edit(recipe.id)">
      Edit
    </button>
  </div>

  <div class="recipe-spec">
    <p>
      <span style="color: rgb(15, 26, 185); font-weight: bold"
        >Instructions : </span
      >{{ recipe?.instructions }}
    </p>
  </div>
  <div class="recipe-preptime">
    <p>
      <span style="color: rgb(15, 26, 185); font-weight: bold"
        >Preparation Time : {{ recipe?.preptime }}</span
      >
    </p>
  </div>
  <div class="recipe-ingrediants">
    <span style="color: rgb(15, 26, 185); font-weight: bold">Ingrediants</span>
    <ul *ngFor="let ing of recipe?.ingredients">
      <li>{{ ing | uppercase }}</li>
    </ul>
  </div>
</div>
