<div class="main-comp">
  <div>
    <mat-toolbar color="basic">
      <mat-toolbar-row>
        <!-- <ul class="nav-links">
          <li><a routerLink="favo">Favorites</a></li>
          <li><a routerLink="add">Add Reciepe</a></li>
        </ul> -->

        <div>
          <a mat-button [routerLink]="''" style="font-size: 18px"> HOME </a>
          <a mat-button [routerLink]="'add'" style="font-size: 18px">
            ADD RECIEPE
          </a>
          <a mat-button [routerLink]="'favo'" style="font-size: 18px">
            FAVORITES
          </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="search-field">
    <form [formGroup]="searchForm">
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Eg:egg,tomato"
          formControlName="searchField"
        />
        <mat-icon matPrefix class="my-icon">search</mat-icon>
      </mat-form-field>

      <br />
    </form>
  </div>

  <div>
    <div class="reciepe-list-container" *ngIf="!show">
      <app-recipecard
        (delete)="deleteReciepe($event)"
        *ngFor="let r of allRec$ | async"
        [recipe]="r"
      ></app-recipecard>
    </div>
    <div class="reciepe-list-container" *ngIf="show">
      <app-recipecard
        (delete)="deleteReciepe($event)"
        *ngFor="let r of reciepes"
        [recipe]="r"
      ></app-recipecard>
    </div>
    <div *ngIf="length">
      <h1>Not Recipes Found</h1>
    </div>
  </div>
</div>
